<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <form>
    <span>I'm </span>
    <select>
        <% for(let name in Object.getOwnPropertyNames(info)) {%>
        <% if (name == p1) {%>
        <option selected value="<%= Object.getOwnPropertyNames(info)[name] %>"><%= Object.getOwnPropertyNames(info)[name] %></option>
        <% } else {%>
        <option value="<%= Object.getOwnPropertyNames(info)[name] %>"><%= Object.getOwnPropertyNames(info)[name] %></option>
        <% } %>
        <% } %>
    </select>
    <span>vs. </span>
    <select>
        <% for(let name in Object.getOwnPropertyNames(info)) {%>
        <option id="p2" value="<%= Object.getOwnPropertyNames(info)[name] %>"><%= Object.getOwnPropertyNames(info)[name] %></option>
        <% } %>
    </select>
    <a href="/turn/sol_badguy/ky_kiske/">When is my turn?</a>
    </form>

    <section><% if (p1 && p2) {%>
        <% for(let move in JSON.parse(info[p2])) {%>
        <% let validmoves = [] %>
        <% for(let yourmove in JSON.parse(info[p1])) {%>
        <% if (JSON.parse(info[p1])[yourmove].startup && yourmove !== "Air Throw" && yourmove !== "Finish Blow" && !yourmove.includes("j.") && !yourmove.includes("KK")) {%>
        <% if (Math.abs(JSON.parse(info[p2])[move].onBlock) > JSON.parse(info[p1])[yourmove].startup ) {%>
        <% validmoves.push(yourmove) %>
        <% } %>
        <% } %>
        <% } %>
        
        <% if (JSON.parse(info[p2])[move].onBlock && validmoves.length > 0) {%>
        <p>If they <%= move %>, you can : <%= validmoves.join(", ") %></p>
        <% } %>
        <% } %>
        <% } %>
    </section>

</body>
</html>
